<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.interventions.infinite_scrolling">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfiniteScroll"
        android:usesCleartextTraffic="true"
        >

        <activity android:name="com.interventions.infinite_scrolling.EndNoteActivity"    android:exported="true" />

        <activity
            android:name="com.interventions.infinite_scrolling.WelcomeActivity"
            android:label="InfiniteScape"
            android:exported="true"
            tools:node="merge"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.interventions.infinite_scrolling.StartActivity"
            android:label="InfiniteScape"
            android:exported="true"   tools:node="merge"
            />


        <activity
            android:name="com.interventions.infinite_scrolling.ScrolledActivity"
            android:label="SocialMediaInterventions"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.AgeActivity"
            android:label="SocialMediaInterventions"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.GenderActivity"
            android:label="SocialMediaInterventions"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.SocialMediaActivity"
            android:label="SocialMediaInterventions"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.UserGroupActivity"
            android:label="SocialMediaInterventions"
            android:exported="true"  tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.TimeSpendActivity"
            android:label="SocialMediaInterventions"    android:exported="true"   tools:node="merge" />
        <activity
            android:name="com.interventions.infinite_scrolling.UsageReasonsActivity"
            android:label="SocialMediaInterventions"    android:exported="true"    tools:node="merge"/>
        <activity
            android:name="com.interventions.infinite_scrolling.StuckSocialMediaActivity"
            android:label="SocialMediaInterventions"    android:exported="true"   tools:node="merge" />
        <activity
            android:name="com.interventions.infinite_scrolling.ReachingEndActivity"
            android:label="SocialMediaInterventions"    android:exported="true"   tools:node="merge" />
        <activity
            android:name="com.interventions.infinite_scrolling.AttentionCheckQuest"
            android:label="SocialMediaInterventions"    android:exported="true"   tools:node="merge" />
        <activity
            android:name="com.interventions.infinite_scrolling.StuckOnPostsActivity"
            android:label="SocialMediaInterventions"    android:exported="true"   tools:node="merge" />
<!--
        <activity
            android:name="com.uniulm.social_media_interventions.UsageAccessPermissionActivity"
            android:label="SocialMediaInterventions" />
        <activity
            android:name="com.uniulm.social_media_interventions.OverlayPermissionActivity"
            android:label="SocialMediaInterventions" />
        -->
        <activity
            android:name="com.interventions.infinite_scrolling.PermissionActivity"
            android:label="InfiniteScape"
            android:exported="true"   tools:node="merge"
            >


        </activity>

        <activity
            android:name="com.interventions.infinite_scrolling.MainActivity"
            android:label="InfiniteScape"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.FeelingAfterLockActivity"
            android:label="InfiniteScape"    android:exported="true"    tools:node="merge"/>
        <activity
            android:name="com.interventions.infinite_scrolling.rhsci_activity"
            android:label="InfiniteScape"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.rhsci1_activity"
            android:label="InfiniteScape"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.rhsci2_activity"
            android:label="InfiniteScape"
            android:exported="true"   tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.rhsci3_activity"
            android:label="InfiniteScape"    android:exported="true"   tools:node="merge"/>
        <activity
            android:name="com.interventions.infinite_scrolling.rhsci4_activity"
            android:label="InfiniteScape"    android:exported="true"   tools:node="merge"/>
        <activity
            android:name="com.interventions.infinite_scrolling.rhsci5_activity"
            android:label="InfiniteScape"    android:exported="true"   tools:node="merge" />
        <activity
            android:name="com.interventions.infinite_scrolling.ToS_activity"
            android:label="InfiniteScape"
            android:exported="true"
            tools:node="merge"
            />
        <activity
            android:name="com.interventions.infinite_scrolling.ThankActivity"
            android:label="InfiniteScape"    android:exported="true"   tools:node="merge"/>
        <activity
            android:name="com.interventions.infinite_scrolling.FinalQuestionnaire"
            android:label="InfinteScape"
            android:exported="true"
            tools:node="merge"
            />
        <!--
        <activity android:name=".BatteryPermissionActivity"
            android:label="SocialMediaInterventions" />
        <activity android:name=".AdditionalPermissionActivity"
            android:label="SocialMediaInterventions" />


-->







        <service android:name="com.interventions.infinite_scrolling.AppCheckerService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            tools:node="merge"
            >

        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>
           <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name="com.interventions.infinite_scrolling.TimerService"
            android:enabled="true"
            android:exported="true"   tools:node="merge"
        />
        <receiver android:name="com.interventions.infinite_scrolling.RestartServiceReceiver"
            android:exported="true"   tools:node="merge"
            >
            <intent-filter>
                <action android:name="YouWillNeverKillMe" >
                </action>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.interventions.infinite_scrolling.MyAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true"   tools:node="merge">
            <meta-data
                android:name="android.app.device.admin"
                android:resource="@xml/admin"/>
            <intent-filter>

                <!-- This action is required -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>


        </receiver>

        <receiver
            android:name="com.interventions.infinite_scrolling.NotificationReceiver"
            android:enabled="true"
            android:exported="true"   tools:node="merge">

            <intent-filter>

                <!-- This action is required -->
                <action android:name="com.example.ACTION_CUSTOM" /> />
            </intent-filter>


        </receiver>
    </application>

</manifest>